Source: cinelerra-cv
Section: graphics
Priority: optional
Maintainer: Christian Marillat <marillat@debian.org>
Bugs: mailto:marillat@debian.org
Homepage: http://cvs.cinelerra.org/
Standards-Version: 3.9.2
Build-Conflicts: libesd0-dev
Build-Depends-Indep: texlive-generic-recommended, texlive-latex-base
Build-Depends: debhelper (>> 7), libasound2-dev (>= 1.0.4), libxv-dev,
 libdv4-dev (>= 1.0.0), libmp3lame-dev (>= 3.92), libvorbis-dev (>= 1.0.0),
 libogg-dev (>= 1.1.2), libtool (>= 1.5), liba52-0.7.4-dev (>= 0.7.4), uuid-dev,
 libtheora-dev (>=0.0.0.alpha4), libpng12-dev (>= 1.2.5), libjpeg-dev,
 libtiff-dev, libaudiofile-dev (>= 0.2.3), libxext-dev, nasm [i386],
 libraw1394-dev (>= 1.2.0), libavc1394-dev (>= 0.4.1), fftw3-dev,
 libfreetype6-dev (>= 2.2.1), libfontconfig-dev, libfaad-dev (>= 2.7),
 libglu1-mesa-dev | libglu-dev, libsndfile1-dev, libx264-dev (>= 1:0.svn20110710),
 quilt, libmjpegtools-dev (>= 1:1.9.0), libopenexr-dev (>= 1.1.1), libdc1394-22-dev,
 libxxf86vm-dev (>=6.8.2), libiec61883-dev (>= 1.0.0), libfaac-dev (>= 1.24),
 libx11-dev, libxft-dev

Package: cinelerra-cv
Section: graphics
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, cinelerra-cv-data, optlibx11-noxcb-6, ttf-bitstream-vera
Recommends: mpeg3-utils
Conflicts: libguicast, cinelerra
Description: audio/video editing tool (CV version).
 Cinelerra is a (non linear) video editing tool. It features flexible
 layering and compositing and is able to handle raw media formats, as well
 as some of the common used compressed multimedia formats (quicktime, avi, ogg)
 and audio/video compression codecs (divx, xvid, mpeg1/2, ...)
 .
 Because the development of Cinelerra is not open to distributed
 collaboration and there is no support for the software, the CV branch has
 been created (CV stands for Community Version).
 .
 Note: to avoid deadlocks due to the new XCB extension to XLib, please ensure using
 the XLib variant without XCB, as provided by the optlibx11-noxcb package:
 export LD_LIBRARY_PATH=/opt/libx11-noxcb/lib:$LD_LIBRARY_PATH

Package: cinelerra-cv-doc
Section: doc
Architecture: all
Conflicts: cinelerra-doc
Depends: ${misc:Depends}, ${misc:Depends}
Description: audio/video editing tool - Documentation
 Documentation for the Cinelerra video editing software. It understands a
 .
 This package contains the documentation in English, French and Brazil for
 the CV version.

Package: cinelerra-cv-data
Section: graphics
Architecture: all
Conflicts: cinelerra-data
Depends: ${misc:Depends}, ${misc:Depends}
Description: audio/video editing tool.
 Cinelerra is a (non linear) video editing tool.
 This package contains data (fonts and l10n files) for cinelerra-cv.

Package: libquicktimehv-1.6.0
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Quicktime 4 Linux (Cinelerra internal library)
 Quicktime 4 Linux was the first convenient way to read and write
 uncompressed Quicktime movies on Linux. Today Quicktime 4 Linux is intended
 for content creation and uncompressed movies. These usually arise during
 the production phase and not the consumer phase of a movie. It has
 improvements in colormodel support, bit depth, accuracy, reliability, and
 codecs, while not stressing economy.
 .
 Users wishing for a consumer library should use OpenQuicktime or FFMPEG.
 .
 For more information, see http://heroinewarrior.com/quicktime.php3

Package: libquicktimehv-dev
Section: libdevel
Depends: libquicktimehv-1.6.0 (= ${binary:Version}), ${misc:Depends}
Architecture: any
Description: Quicktime 4 Linux (Cinelerra internal) library (development files)
 Quicktime 4 Linux was the first convenient way to read and write
 uncompressed Quicktime movies on Linux. Today Quicktime 4 Linux is intended
 for content creation and uncompressed movies. These usually arise during
 the production phase and not the consumer phase of a movie. It has
 improvements in colormodel support, bit depth, accuracy, reliability, and
 codecs, while not stressing economy.
 .
 Users wishing for a consumer library should use OpenQuicktime or FFMPEG.
 .
 This package holds development files for the Quicktime 4 Linux library
 .
 For more information, see http://heroinewarrior.com/quicktime.php3

Package: libmpeg3hv-1.5.0
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Advanced editing and manipulation of MPEG streams (cinelerra's internal) 
 Libmpeg3 supports advanced editing and manipulation of MPEG streams. MPEG
 is normally a last mile format but with libmpeg3 you can edit it like a
 first mile solution.
 .
 Unless you have a need for MPEG editing and copying, you're better off
 using a consumer library like FFMPEG.
 .
 For more information, see http://heroinewarrior.com/quicktime.php3

Package: libmpeg3hv-dev
Section: libdevel
Depends: libmpeg3hv-1.5.0 (= ${binary:Version}), ${misc:Depends}
Architecture: any
Description: Advanced editing and manipulation of MPEG streams (development files)
 Libmpeg3 supports advanced editing and manipulation of MPEG streams. MPEG
 is normally a last mile format but with libmpeg3 you can edit it like a
 first mile solution.
 .
 Unless you have a need for MPEG editing and copying, you're better off
 using a consumer library like FFMPEG.
 .
 This package holds development files for the libmpeg3 library
 .
 For more information, see http://heroinewarrior.com/quicktime.php3

