#!/usr/bin/make -f
## 
## Cinelerra Debian build
##
# custom build by Ichthyostega (2006 - 2011)
# based on the Akirad and Debian-Multimedia packages
#



# debug or release build?
# uncomment as needed!
#
#DEB_BUILD_OPTIONS+= --debug
#DEB_BUILD_OPTIONS+= --nostrip 
#DEB_BUILD_OPTIONS+= --optimize
#DEB_BUILD_OPTIONS+= --opengl

#don't include SCM subdirs (Git or Subverison)
export DH_ALWAYS_EXCLUDE=.svn:.git
#
# note: please build source packages with
#       dpkg-buildpackage -rfakeroot -I.svn -I.git

#CONFFLAGS=--with-buildinfo=svn/recompile
CONFFLAGS=--with-buildinfo=git/recompile


# Configure Platform
#
ARCH:= $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(ARCH),i386)
	STDFLAGS=-march=i586 -mmmx -ffast-math
	OPTIFLAGS=-march=pentium4 -mmmx -msse -msse2 -ffast-math -minline-all-stringops -fprefetch-loop-arrays -funroll-loops
	CONFFLAGS+=--enable-mmx --enable-x86 --without-pic
endif
ifeq ($(ARCH),powerpc)
	STDFLAGS=
	OPTIFLAGS=-mcpu=common -ffast-math -minline-all-stringops -fprefetch-loop-arrays -funroll-loops
	CONFFLAGS+=--without-pic
endif
ifeq ($(ARCH),amd64)
	STDFLAGS=-march=athlon64 -ffast-math
	OPTIFLAGS=-march=athlon64 -msse3 -ffast-math -funroll-loops -minline-all-stringops -fprefetch-loop-arrays -fPIC
	CONFFLAGS+=--enable-sse3 --with-pic
endif


# Compiler: handle warnings, debugging and optimiztion
#
CFLAGS = -Wall -Wno-write-strings -Wno-unused

ifneq (,$(findstring optimize,$(DEB_BUILD_OPTIONS)))
	CFLAGS=$(OPTIFLAGS)
	ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
		CFLAGS += -O1
	else
		CFLAGS += -O3
	endif
else
	CFLAGS=$(STDFLAGS) -O1
endif
CXXFLAGS=$(CFLAGS) -fno-check-new

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
#	CFLAGS += -g
	CFLAGS += -ggdb3
endif
ifneq (,$(findstring opengl,$(DEB_BUILD_OPTIONS)))
	CONFFLAGS += --enable-opengl
else
	CONFFLAGS += --disable-opengl
endif
ifneq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
	# "binary not stripped!"
endif


# concurrent make
#
NCPUS := $(shell getconf _NPROCESSORS_ONLN 2>/dev/null || echo 1)
ifeq ($(NCPUS),-1)
	NCPUS:=1
endif
ifeq ($(NCPUS),0)
	NCPUS:=1
endif


# allow explicit override
@if [ -z "$(CFLAGS)" ]   ; then CFLAGS="$(CFLAGS)"     ; fi ;
@if [ -z "$(CXXFLAGS)" ] ; then CXXFLAGS="$(CXXFLAGS)" ; fi ;
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
BUILDDATE=$(shell LANG=C date)

CONFFLAGS += --prefix=/usr \
             --libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
             LDFLAGS="-Wl,--as-needed" \
             CFLAGS="$(CFLAGS)" CXXFLAGS="$(CXXFLAGS)"


prepare-sources:
	dh_testdir
	autoreconf -i --force

configure: configure-stamp
configure-stamp: prepare-sources
	./configure $(CONFFLAGS)

	touch $@


build: build-stamp
build-stamp: configure-stamp
	dh_testdir

	$(MAKE) -j $(NCPUS)
	$(MAKE) -C po update-gmo

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f configure-stamp build-stamp

	[ ! -f Makefile ] || $(MAKE) distclean

	dh_clean doc/cinelerra_cv_manual_en.pdf doc/cinelerra_cv_manual_en.html doc/cinelerra_cv_manual_en.txt \
	doc/cinelerra_cv_manual_fr.pdf doc/cinelerra_cv_manual_fr.html doc/cinelerra_cv_manual_fr.txt \
	quicktime/ffmpeg/config.log quicktime/ffmpeg/config.mak cinelerra/versioninfo.h \
	po/*.gmo debian/cinelerra-cv-doc.install

	cp doc/*.texi /tmp
	rm doc/cinelerra_cv_manual_fr*
	rm doc/cinelerra_cv_manual_en*
	rm doc/cinelerra_cv_manual_pt_BR*
	mv /tmp/*.texi doc

	[ ! -f debian/cinelerra-cv-doc.install ] || mv debian/cinelerra-cv-doc.install debian/cinelerra-cv-doc.install.in


install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	find debian/tmp/usr/lib -name *.la | xargs -r rm

	rm debian/tmp/usr/lib/cinelerra/fonts/Vera*.ttf

# Already in mpeg3-utils package.
	rm debian/tmp/usr/bin/mpeg*

	dh_install --fail-missing -X.xcf -Xcinelerra.a -Xvhook


# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installdocs -i
	dh_installchangelogs -i ChangeLog
	cd doc && ./make_manuals.sh en
	cd doc && ./make_manuals.sh fr
	cd doc && ./make_manuals.sh pt_BR
	cp debian/cinelerra-cv-doc.install.in debian/cinelerra-cv-doc.install

	dh_install --fail-missing -X.xcf -Xcinelerra.a -Xvhook
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i -- -Zbzip2

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -a
	dh_installman -a
	dh_installchangelogs -a ChangeLog
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a -V
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a -- -Zbzip2

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure



